<head>
  <%- include("../partials/head.ejs") %>
  <link rel="stylesheet" href="/css/carrito.css" />
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <main>
    <div class="contenedor-titulo">
      <div class="title">Carrito:</div>
  </div>
    <div class="box-product">
      <% if (typeof cart !== "undefined" && cart.length > 0) { %>
        <% cart.forEach(function(item) { %>
          <p>Name: <%= item.name %></p>
          <p>Bodega: <%= item.bodega %></p>
          <p>Price: <%= item.price %></p>
        <% }); %>
      <% } %>

      <div class="box-img-price-description">
        <img class="wine" src="/images/productImages/1675122724044_img.webp" alt="Imagen de El Esteco Old Vines"/>
        <div class="price">$1.750</div>
      </div>

      <div class="bottom-product-box">
        <div class="box-cantidad-delete">
          <div class="cantidad">
            <i class="fa-solid fa-minus"></i> 1 <i class="fa-solid fa-plus"></i>
          </div>
        </div>

        <div class="delete">
          <div>eliminar <i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
    </div>

    <div class="box-desktop">
      <div class="cart-list">
        <% if (cart && cart.length > 0) { %>
          <table>
            <thead>
              <tr>
                <th class="table-header">Nombre</th>
                <th class="table-header">Bodega</th>
                <th class="table-header">Categoria</th>
                <th class="table-header">Precio</th>
                <th class="table-header"></th>
                <th class="table-header"></th>
              </tr>
            </thead>
            <tbody>
              <% cart.forEach((item, index) => { %>
                <tr>
                  <td class="table-cell"><%= item.name %></td>
                  <td class="table-cell"><%= item.bodega %> </td>
                  <td class="table-cell"><%= item.category %> </td>
                  <td class="table-cell">$ <%= item.price %></td>
                  <td>
                    <form action="/products/carrito" method="POST">
                      <input type="hidden" name="productId" value="<%= item.id %>">
                      <% console.log("------------------ item --------------------") %>
                      <% console.log(item) %>
                      <button type="submit" class="boton-eliminar">Agregar</button>
                    </form>
                  </td>
                  <td>
                    <form action="/products/borrar-elemento-del-carrito" method="POST">
                      <input type="hidden" name="index" value="<%= index %>">
                      <button type="submit" class="boton-eliminar">Eliminar</button>
                    </form>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <div class="buttons">
          <form action="/products/confirmar-compra" method="POST">
            <button type="submit" class="boton">Confirmar compra</button>
          </form>
          <a class="boton" href="/products">Seguir comprando</a>
          <form action="/products/borrar-carrito" method="POST">
            <button type="submit" class="boton">Vaciar carrito</button>
          </form>
        </div>
        <% } else { %>
          <div class="content">No hay productos en el carrito</div>
        <% } %>
    </div>
  </main>
  <%- include("../partials/footer.ejs") %>
</body>
