<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%>

  <body>
    <%- include('../partials/header.ejs')%>

    <main>
      <div>
        <div>
          <h2>Formulario de creación de productos</h2>
        </div>



          <form
            class="contenedor-inputs"
            action="/products/<%=productToEdit.id%>?_method=PUT"
            method="POST"
            enctype="multipart/form-data">

              <div class="subtitulo">
                <h3>Editando el Producto "<%= productToEdit.name %>"</h3>
              </div>

              <div class="label-input">
              <label for="name">Nombre del producto:</label>
              <input
                type="text"
                name="name"
                class="form-input"
                value="<%= productToEdit.name %>"
                placeholder="Nombre"/>
              <div id="erroresName" class="text-danger"></div>
            </div>

            <div class="label-input">
              <label for="price">Precio:</label>
              <input
                type="number"
                step=".01"
                name="price"
                class="form-input"
                value="<%= productToEdit.price %>"
                placeholder="$00.00"/>
              <div id="erroresPrice" class="text-danger"></div>
            </div>

            <div class="label-input">
              <label for="discount">Descuento:</label>
              <input
                type="number"
                step=".01"
                name="discount"
                class="form-input"
                value="<%= productToEdit.discount %>"
                placeholder="00"/>
              <div id="erroresDiscount" class="text-danger"></div>
            </div>

            <div class="label-input">
              <label for="discount">Tamaño:</label>
              <input
                type="number"
                step=".01"
                name="size"
                class="form-input"
                value="<%= productToEdit.size %>"
                placeholder="000"/>
              <div id="erroresSize" class="text-danger"></div>
            </div>

            <div class="label-input">
              <label for="name">Bodega:</label>
              <input
                type="text"
                name="bodega"
                class="form-input"
                value="<%= productToEdit.bodega %>"
                placeholder="Bodega"/>
              <div id="erroresBodega" class="text-danger"></div>
            </div>

            <div class="label-input">
              <label for="name">Provincia:</label>
              <input
                type="text"
                name="provincia"
                class="form-input"
                value="<%= productToEdit.provincia %>"
                placeholder="Provincia"/>
              <div id="erroresProvincia" class="text-danger"></div>
            </div>

            <div class="label-input">
              <label for="name">Categoria:</label>
              <input
                type="text"
                name="category"
                class="form-input"
                value="<%= productToEdit.category %>"
                placeholder="Categoria"/>
              <div id="erroresCategory" class="text-danger"></div>
            </div>

            <div class="label-input">
              <p><label>Detalle de producto</label></p>
              <textarea
                name="description"
                rows="10"
                class="description-input"
                cols="40"><%= productToEdit.description %>
              </textarea>
              <div id="erroresDescription" class="text-danger"></div>
            </div>

            <div class="label-input">
              <label for="">Imagen:</label>
              <input type="file" name="product-img" class="input-foto" />
              <div id="erroresImg" class="lista-errores"></div>
            </div>

            <div class="form-label">
              <button type="submit" class="boton-crear">Guardar Cambios</button>
            </div>

            <div class="label-input">
              <a class="boton-cancel" href="/productos/listado">Cancelar</a>
            </div>
            <div>
              <form
                class="delete-product"
                action="/products/<%=productToEdit.id%>?_method=DELETE"
                method="POST">
                <button type="submit" class="boton-crear">Eliminar</button>
              </form>
          </form>
        </div>
      </div>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
