<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/editar-product.css" />
  </head>

  <body>
    <%- include('../partials/header.ejs')%>

    <main>
      <div class="contenedor-titulo">
        <h2 class="title">Editar producto</h2>
      </div>
        <div class="contenedor-form">
          <form id="form" action="/products/detalles/<%=product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="contenedor-inputs">
              <div class="errores">
                <ul></ul>
              </div>
              <div class="subtitulo">
                <h3 class="content">Editando el Producto</h3>
                <h3 class="product"><%= product.name %></h3>
              </div>
              <div class="label-input"> 
                <label for="name" class="form-label">Nombre del producto:</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="form-input"
                  value="<%= product.name %>"/>
              </div>
              <% if(locals.errors && errors.name) {%>
                <div class="text-danger"><%= errors.name.msg %></div>
              <% } %>
              <div class="label-input">
                <label for="price" class="form-label">Precio:</label>
                <input
                  id="price"
                  name="price"
                  class="form-input"
                  value="<%= product.price %>"/>
              </div>
              <% if(locals.errors && errors.price) {%>
                <div class="text-danger"><%= errors.price.msg %></div>
              <% } %>
              <div class="label-input">
                <label for="discount" class="form-label">Descuento:</label>
                <input
                  id="discount"
                  name="discount"
                  class="form-input"
                  value="<%= product.discount %>"/>
              </div>
              <% if(locals.errors && errors.discount) {%>
                <div class="text-danger"><%= errors.discount.msg %></div>
              <% } %>
            <div class="label-input">
              <label for="size" class="form-label">Tamaño:</label>
              <p>
              <select name="size" id="size">
                <% for (let i = 0; i < sizes.length; i++) { if (sizes[i].id == product.size_id) { %>
                <option value="<%= sizes[i].id %>" selected>
                  <%=sizes[i].name %>
                </option>
                <% } else { %>
                <option value="<%= sizes[i].id %>"><%=sizes[i].name %></option>
                <% }} %>
              </select>
              <br />
            </p>
              <% if(locals.errors && errors.size) {%>
              <div class="text-danger"><%= errors.size.msg %></div>
              <% } %>
            </div>
            <div class="label-input">
              <label for="bodega" class="form-label">Bodega:</label>
              <p>
              <select name="bodega" id="bodega">
                <% for (let i = 0; i < bodegas.length; i++){%> 
                <% if(bodegas[i].id == product.bodega_id){%>
                <option value="<%= bodegas[i].id %>" selected>
                  <%=bodegas[i].name %>
                </option>
                <% } else { %>
                <option value="<%= bodegas[i].id %>">
                  <%=bodegas[i].name %>
                </option>
                <% } %> <% } %>
              </select>
              <br />
            </p>
              <% if(locals.errors && errors.bodega) {%>
              <div class="text-danger"><%= errors.bodega.msg %></div>
              <% } %>
            </div>
            <div class="label-input">
              <label for="province" class="form-label">Provincia:</label>
              <p>
              <select name="province" id="province">
                <% for (let i = 0; i < provinces.length; i++) { %> 
                <% if(provinces[i].id == product.province_id) { %>
                <option value="<%= provinces[i].id %>" selected>
                  <%=provinces[i].name %>
                </option>
                <% } else { %>
                <option value="<%= provinces[i].id %>">
                  <%=provinces[i].name %>
                </option>
                <% } %> <% } %>
              </select>
              <br />
            </p>
              <% if(locals.errors && errors.province) {%>
              <div class="text-danger"><%= errors.province.msg %></div>
              <% } %>
            </div>
            <div class="label-input">
              <label for="category" class="form-label">Categoria:</label>
              <p>
              <select name="category" id="category">
                <% for (let i = 0; i < categories.length; i++) { %> 
                <% if(categories[i].id == product.category_id) { %>
                <option value="<%= categories[i].id %>" selected>
                  <%=categories[i].name %>
                </option>
                <% } else { %>
                <option value="<%= categories[i].id %>">
                  <%=categories[i].name %>
                </option>
                <% } %> <% } %>
              </select>
              <br />
            </p>
              <% if(locals.errors && errors.category) {%>
              <div class="text-danger"><%= errors.category.msg %></div>
              <% } %>
            </div>
            <div class="label-input">
              <label for="descripcion" class="form-label">Detalle de producto</label>
              <textarea
                id="descripcion"
                name="descripcion"
                rows="10"
                class="description-input"
                cols="40"><%= product.descripcion %></textarea>
              <% if(locals.errors && errors.descripcion) {%>
              <div class="text-danger"><%= errors.descripcion.msg %></div>
              <% } %>
            </div>
            <div class="label-input">
              <label for="foto" class="form-label">Imagen del producto:</label>
              <input type="file" id="image_id" name="foto" class="input-foto" />
              <% if(locals.errors && errors.image) {%>
              <div class="text-danger errores"><%= errors.image.msg %></div>
              <% } %>
            </div>
            <div class="buttons">
                <input type="submit" class="boton" value="Guardar cambios" />
                <a class="boton" href="/products">Volver a productos</a>
                <a class="boton" href="/products/delete/<%=product.id%>">Eliminar</a>
            </div>
          </form>
        </div>
        </div>
      </div>
    </main>
    <%- include('../partials/footer.ejs')%>
    <script src="/js/editar-productoValidation.js"></script>
  </body>
</html>
