<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/products.css" />
  </head>

  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <div class="display-pag">
        <section>
          <div class="contenedor-todo-productos">
            <div class="contenedor-titulo">
              <h2 class="titulo">Todos los productos</h2>
            </div>

            <div class="contenedor-productos">
              <%products.forEach(product => {%>

              <article class="sombras">
                <a
                  href="/products/detalles/<%= product.id %>"
                  class="etiqueta-link"
                >
                  <div class="div-producto">
                    <div class="contenedor-imagen-producto">
                      <img
                        src="/images/productImages/<%= product.foto%>"
                        alt="Imagen de <%= product.name%>"
                        class="imagen-producto"
                      />
                    </div>

                    <div class="detalles">
                      <div class="contenedor-precio">
                        <p
                          class="precios <% if (product.discount > 0){%>tachar-precio<%}%>"
                        >
                          $<%= product.price%>
                        </p>
                        <% if (product.discount > 0){%>
                        <p class="precios">
                          $<%= product.price - ((product.price/100) *
                          product.discount)%>
                        </p>
                        <%}%>
                      </div>
                      <% if (product.discount > 0){%>

                      <p class="descuentos"><%= product.discount%>% off</p>

                      <%}%>

                      <p class="nombre-producto"><b><%= product.name%></b></p>
                    </div>
                  </div>
                </a>
              </article>

              <%})%>
            </div>
          </div>
        </section>
      </div>
    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
