<!DOCTYPE html>

<html lang="es">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/search-product.css" />
  </head>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
        <h1>Resultados de la búsqueda para "<%= query %>"</h1>
        <% if (products.length > 0) { %>
          <ul>
            <% products.forEach(product => { %>
              <li>
                <%= product.name %>
                <%= product.bodega.name %>
                <%= product.province.name %>
                <%= product.size.name %>
                <!-- ... muestra más propiedades aquí si es necesario -->
              </li>
            <% }); %>
          </ul>
        <% } else { %>
          <p>No se encontraron resultados para "<%= query %>".</p>
        <% } %>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>