<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/editar-perfil.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div class="contenedor-titulo">
        <h3 class="title">Editar Perfil</h3>
      </div>
      <div class="contenedor-form">
        <form
          action="/users/perfil?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
          id="form"
        >
          <div class="contenedor-inputs">
            <div class="errores">
              <ul></ul>
            </div>
            <div class="label-input">
              <label for="" class="edit-label">Nombre:</label><br />
              <input
                class="edit-input"
                type="text"
                id="name"
                name="name"
                value="<%= user ? user.name : oldData.name %>"
              /><br />
            </div>
            <div class="label-input">
              <label for="" class="edit-label">Apellido:</label><br />
              <input
                class="edit-input"
                type="text"
                id="lastName"
                name="lastName"
                value="<%= user ? user.lastName : oldData.lastName %>"
              /><br />
            </div>
            <div class="label-input">
              <label for="" class="edit-label">Correo electr칩nico:</label><br />
              <input
                class="edit-input"
                type="email"
                id="email"
                name="email"
                value="<%= user ? user.email : oldData.email %>"
                disabled
              /><br />
            </div>
            <div class="label-input">
              <label for="" class="edit-label">Nombre de usuario:</label><br />
              <input
                class="edit-input"
                type="text"
                id="userName"
                name="userName"
                value="<%= user ? user.userName : oldData.userName %>"
              /><br />
            </div>
            <div class="label-input">
              <label for="" class="edit-label">Direcci칩n:</label><br />
              <input
                class="edit-input"
                type="text"
                id="adress"
                name="adress"
                value="<%= user? user.adress : oldData.adress %>"
              /><br />
            </div>
            <div class="label-input">
              <label for="" class="edit-label">Imagen de perfil:</label><br />
              <input
                class="input-foto"
                type="file"
                id="image"
                name="image"
              /><br />
              <br />
            </div>
            <div class="label-input">
              <label for="" class="edit-label">Contrase침a actual:</label><br />
              <input
                class="edit-input"
                type="password"
                id="password"
                name="password"
              /><br />
            </div>
            <div class="label-input">
              <label for="" class="edit-label">Confirmar contrase침a:</label
              ><br />
              <input
                class="edit-input"
                type="password"
                id="confirmPassword"
                name="confirmPassword"
              /><br />
              <br />
            </div>
            <% if(locals.errors && errors.password) {%>
            <div class="text-danger"><%= errors.password.msg %></div>
            <% } %>
            <div class="buttons">
              <input class="edit-button" type="submit" value="Actualizar" />
              <a class="back-button" href="/users/perfil">Volver</a>
            </div>
          </div>
        </form>
      </div>
      <script src="/js/editar-perfil.js"></script>
    </main>
  </body>
</html>
