<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <section>
        <div class="contenedor-ambos">
          <div class="contenedor-perfil">
            <div class="img-saludo">
              <div class="circulo-img">
                <img
                  src="/images/imagen-de-perfil.png"
                  alt="Imagen de perfil"
                  class="img-perfil"
                />
              </div>
              <img src="../../../public/images/avatars/<%= user.image %>" alt="Imagen de perfil" />
              <div class="saludo-perfil">
                <p>Hola <%= user.name %>!</p>
              </div>
            </div>
            <div class="contenedor-botones-perfil">
              <div>
                <a href="/users/editar-perfil"
                  ><button class="botones-edit-logout">Editar perfil</button></a
                >
              </div>

              <div>
                <a href="/users/logout"
                  ><button class="botones-edit-logout">Cerrar Sesión</button></a
                >
              </div>
            </div>
          </div>

          <div class="contenedor-info-personal">
            <p>Nombre: <%= user.name %></p>
            <p>Apellido: <%= user.lastName %></p>
            <p>Correo electrónico: <%= user.email %></p>
            <p>Dirección: <%= user.adress %></p>
          </div>
        </div>
      </section>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
