<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <section>
        <div class="contenedor-ambos">
          <div class="contenedor-perfil">
            <div>
              <div class="circulo-img"></div>
              <!-- <img src="<%= user.image %>" alt="Imagen de perfil" /> -->
            </div>
            <div>
              <p>Hola <%= user.userName %>!</p>
            </div>
            <div>
              <a href="/users/editar-perfil"><button>Editar perfil</button></a>
            </div>

            <div>
              <a href="/users/logout"><button>Cerrar Sesión</button></a>
            </div>
          </div>

          <div class="contenedor-info-personal">
            <p>Nombre: <%= user.name %></p>
            <p>Apellido: <%= user.lastName %></p>
            <p>Correo electrónico: <%= user.email %></p>
            <p>Dirección: <%= user.adress %></p>
          </div>
        </div>
      </section>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
