<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/perfil.css" />
  </head>

  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <section>
        <div class="contenedor-ambos">
          <div class="contenedor-perfil">
            <div class="img-saludo">
              <div class="circulo-img">
                <% if (user.image == ""){ %>
                <img
                  src="/images/imagen-de-perfil.png"
                  alt="Imagen de perfil"
                  class="img-perfil"
                />
                <% }else{ %>
                <img
                  src="/images/avatars/<%= user.image %>"
                  alt="Imagen de perfil"
                  class="img-perfil"
                />
                <% } %>
              </div>
              <div class="saludo-perfil">
                <p>Hola <%= user.name %>!</p>
              </div>
            </div>
            <div class="contenedor-botones-perfil">
              <div class="boton-perfil">
                <a href="/users/editar-perfil">
                  <button class="botones-edit-logout">Editar perfil</button>
                </a>
              </div>
              <div class="boton-perfil">
                <a href="/users/logout">
                  <button class="botones-edit-logout">Cerrar Sesión</button>
                </a>
              </div>
            </div>
          </div>

          <div class="contenedor-info-personal">
            <div class="info-box">
              <div class="perfil-category">Nombre:</div>
              <div class="perfil-info"><%= user.name %></div>
            </div>
            <div class="info-box">
              <div class="perfil-category">Apellido:</div>
              <div class="perfil-info"><%= user.lastName %></div>
            </div>
            <div class="info-box">
              <div class="perfil-category">Correo electrónico:</div>
              <div class="perfil-info"><%= user.email %></div>
            </div>
            <% if(user.adress) {%>
            <div class="info-box">
              <div class="perfil-category">Dirección:</div>
              <div class="perfil-info"><%= user.adress %></div>
            </div>
            <% } %> <% if(user.userName) {%>
            <div class="info-box">
              <div class="perfil-category">Nombre de usuario:</div>
              <div class="perfil-info"><%= user.userName %></div>
            </div>
            <% } %>
          </div>
        </div>
      </section>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
