<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>miVinoteca</title>

    <!-- Las siguientes 3 lineas las copie de google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Poppins:wght@200&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- Las siguientes 3 lineas las copie de google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@700&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <!-- Link de icons -->
    <script src="https://kit.fontawesome.com/742f33a9bc.js" crossorigin="anonymous"></script>
    <!-- Vinculo el archivo normalize que sirve para que la pagina se vea siempre bien -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Recomiendan estas hojas ultimas -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/registro.css">
</head>
<body>
    <header>
        <div class="exit"><a href="/"><i class="fa-solid fa-circle-xmark"></i></a></div>
    </header>
    <main>
        <section class="cuadro">
            <div class="saludo-logo">Registrarse</div>
            <form method="POST" action="/users/registro"> <!-- volver a agregar el enctype cuando necesitemos subir foto si es necesario -->
                <div class="register">
                    <div>
        <!-- en class le estoy pidiendo que si hay un error use en in-valid que me recuadra en rojo el espacio, igual no esta funcionando...-->
        <!-- en value le estoy pidiendo que mantenga el dato completado por el usuario si esta bien -->
                        <input 
                            type="text" 
                            name="name" 
                            placeholder="Nombre"
                            class="box-info-user <%= locals.errors && errors.nombre ? "is-invalid" : null %>"
                            value="<%= locals.oldData ? oldData.nombre : null %>"
                        >
        <!-- Entra si vino errors en la variable local y si existe la propiedad nombre en errors -->
                        <% if(locals.errors && errors.nombre) {%> 
                            <div class="text-danger">
        <!-- Le pido que muestre la propiedad msg, del error.nombre-->
                                <%= errors.nombre.msg %>
                            </div>
                        <% } %> 
                    </div>
                    <div>
                        <input 
                            type="text" 
                            name="lastName" 
                            placeholder="Apellido"
                            class="box-info-user <%= locals.errors && errors.apellido ? "is-invalid" : null %>"
                            value="<%= locals.oldData ? oldData.apellido : null %>" 
                        >
                        <% if(locals.errors && errors.apellido) {%> 
                            <div class="text-danger">
                                <%= errors.apellido.msg %>
                            </div>
                        <% } %> 
                    </div>
                    <div>
                        <input 
                            type="text" 
                            name="email" 
                            placeholder="E-mail"
                            class="box-info-user <%= locals.errors && errors.email ? "is-invalid" : null %>"
                            value="<%= locals.oldData ? oldData.email : null %>" 
                        >
                        <% if(locals.errors && errors.email) {%> 
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %> 
                    </div>
                    <div>
                        <input 
                            type="password" 
                            name="password" 
                            placeholder="Contraseña"
                            class="box-info-user <%= locals.errors && errors.password ? "is-invalid" : null %>" 
                            value="<%= locals.oldData ? oldData.password : null %>"
                        >
                        <% if(locals.errors && errors.password) {%> 
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %> 
                    </div>
                    <div>
                        <input 
                            type="password" 
                            name="confirmPassword" 
                            placeholder="Confirmar contraseña"
                            class="box-info-user <%= locals.errors && errors.confirmarPassword ? "is-invalid" : null %>" 
                            value="<%= locals.oldData ? oldData.confirmarPassword : null %>"
                        >
                        <% if(locals.errors && errors.confirmarPassword) {%> 
                            <div class="text-danger">
                                <%= errors.confirmarPassword.msg %>
                            </div>
                        <% } %>
                    </div>
                </div>
                        <input type="submit" class="boton" value="Registrarse"></input>
                    </form>
                <div class="letra-chica">
                    <div class="pregunta">Ya eres miembro?</div>
                    <div><a class="link" href="/users/login">Inicia sesión</a></div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>